@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --uzum-purple: #7000ff;
  --uzum-purple-dark: #5500cc;
  --uzum-purple-light: #ede8ff;
  --uzum-gray-100: #f4f5f7;
  --uzum-gray-200: #eaecef;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
